* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 0;
}

.logo{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    background-image: url(/img/DRINKING.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.portada{
    width: 100%;
    display: block;
    margin: auto;
}

.portada_intro{
    width: 90vw;
    margin: auto;
}

.portada_intro > h2{
    font-size: 1.8em;
    padding: 10px;
}

.portada_intro > p{
    font-size: 1em;
    padding: 10px;
    line-height: 1.4;
}

.portada_intro > button{
    background-color: transparent;
    border: 1px solid #252525;
    padding: 14px 18px;
    border-radius: 10px;
    margin: 10px;
    font-size: 1em;
    background-color: #252525;
    color: #e8e8e8;
    cursor: pointer;
}

.portada_imagen{
    width: 90vw;
    margin: auto;
}

.portada_imagen > img{
    width: 90vw;
}

.navegacion{
    display: block;
    margin: auto;
    padding-bottom: 20px;
    width: 90%;
    border-radius: 20px;
    background: rgb(41,41,41);
    background: linear-gradient(180deg, rgba(41,41,41,1) 0%, rgba(37,37,37,1) 50%, rgba(0,0,0,1) 100%);
}

.navegacion_info{
    padding: 20px;
    margin: auto;
}

.navegacion_info > h3{
    font-size: 1.4em;
    color: #dadada;
    padding-bottom: 20px;
}

.navegacion_info > p{
    font-size: 1em;
    font-weight: 300;
    color: #dadada;
    line-height: 1.4;
}

.navegacion_imagenes{
    width: 100%;
}

.navegacion_imagenes > img:nth-of-type(1) {
    width: 90%;
    position: absolute;
}
.navegacion_imagenes > img:nth-of-type(1).animada {
    animation: navegacion 6s ease;
}
@keyframes navegacion {
    0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}

.navegacion_imagenes > img:nth-of-type(2) {
    width: 100%;
    position: relative;
    opacity: 0;
}
.navegacion_imagenes > img:nth-of-type(2).animada {
    animation: navegacionCarrito 6s ease;
    opacity: 1;
}
@keyframes navegacionCarrito {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.compra{
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.compra_info{
    padding: 20px;
    margin: auto;
}

.compra_info > h3{
    font-size: 1.4em;
    color: #252525;
    padding-bottom: 20px;
}

.compra_info > p{
    font-size: 1em;
    color: #252525;
    line-height: 1.4;
}

.compra_imagenes{
    width: 100%;
}

.compra_imagenes > img:nth-of-type(1) {
    width: 100%;
    opacity: 0;
}
.compra_imagenes > img:nth-of-type(1).animada {
    opacity: 1;
    animation: compraVista 2.5s ease;
}
@keyframes compraVista {
    0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

footer{
    width: 100%;
    background-color: #252525;
}

.footer_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px 20px 0px 20px;
    margin: 0;
}

.footer_sitio{
    display: block; 
}

.footer_sitio > h4{
    color: #c8c8c8;
    font-size: 1em;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.footer_sitio > p{
    color: #c8c8c8;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.footer_logo{
    display: block;
    width: 100px;
    height: 80px;
    background-image: url(/img/DRINKING.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    margin-bottom: 20px;
}

.footer_descarga{
    display: block;
    margin: auto;
    
}

.footer_descarga img{
    display: block;
    margin: auto;
    width: 100%;
    box-shadow: 0px 0px 1px 0px #c8c8c8;
    cursor: pointer;
}

.footer_sitio > ul {
    list-style: none;
    display: flex;
}

.footer_sitio > ul >li {
    padding-right: 30px;
} 

.footer_sitio ul li a{
    font-size: 1.6em;
    color: #c8c8c8;
}

.footer_reservado{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c8c8c8;
}

.footer_reservado > p{
    font-size: 0.8em;
}

@media screen and (min-width: 375px) {
    .footer_descarga img{        
        width: 80% ;
    }
}

@media screen and (min-width: 426px) and (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    .portada_imagen > img{
        width: 75vw;
        display: block;
        margin: auto;
    }

    .portada_intro > p{
        font-size: 1.2em;
    }

    .compra_imagenes > img:nth-of-type(1) {
        width: 80%;
        display: block;
        margin: auto;
    }

    .footer_descarga img{        
        width: 65%;
    }

    .footer_sitio > ul >li {
        padding-right: 30px;
    } 
    
    .footer_sitio ul li a{
        font-size: 1.6em;
        color: #c8c8c8;
    }
    
    .footer_reservado{
        width: 100vw;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #c8c8c8;
    }
    
    .footer_reservado > p{
        font-size: 0.8em;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) { 
    .portada_intro > h2{
        font-size: 2em;
    }
    
    .portada_intro > p{
        font-size: 1.4em;
    }
    
    .portada_intro > button{
        padding: 16px 20px;
        border-radius: 14px;
        font-size: 1.2em;
    }
    
    .portada_imagen > img{
        width: 60vw;
        display: block;
        margin: auto;
    }

    .navegacion_info > h3{
        font-size: 1.8em;
    }
    
    .navegacion_info > p{
        font-size: 1.2em;
    }

    .navegacion_imagenes > img:nth-of-type(1) {
        width: 70%;
        left: 90px;
    }
    .navegacion_imagenes > img:nth-of-type(2) {
        width: 80%;
        left: 50px;
    }

    .compra_info > h3{
        font-size: 1.8em;
    }
    
    .compra_info > p{
        font-size: 1.2em;
    }

    .compra_imagenes > img:nth-of-type(1) {
        width: 60%;
        display: block;
        margin: auto;
    }

    .footer_descarga img{        
        width: 80%;
    }

    .footer_sitio > h4{
        color: #c8c8c8;
        font-size: 1.4em;
        letter-spacing: 1px;
        padding-bottom: 5px;
    }
    
    .footer_sitio > p{
        font-size: 1.2em;
        padding-bottom: 20px;
    }
    
    .footer_sitio ul li a{
        font-size: 1.8em;
    }
    
    .footer_reservado > p{
        font-size: 0.9em;
    }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
    header{
        width: 100vw;
        height: 125px;
        display: flex;
        align-items: center;
    }
    
    .logo{
        width: 125px;
        height: 125px;
        margin-left: 30px;
    }
    
    .portada{
        width: 90vw;
        display: flex;
    }
    
    .portada_intro{
        width: 45vw;
    }
    
    .portada_intro > h2{
        font-size: 2.2em;
    }
    
    .portada_intro > p{
        font-size: 1.4em;
        padding-bottom: 20px;
    }

    .portada_intro > button{
        padding: 16px 22px;
        border-radius: 12px;
        font-size: 1.1em;
    }
    
    .portada_imagen{
        width: 55vw;
    }
    
    .portada_imagen > img{
        width: 100%;
    }
    
    .navegacion{
        display: flex;
        flex-direction: row-reverse;
        width: 90vw;
        margin-top: 50px;
    }
    
    .navegacion_info{
        width: 50%;
        height: 50%;
        padding: 30px;
    }
    
    .navegacion_info > h3{
        font-size: 2.2em;
        padding-bottom: 20px;
    }
    
    .navegacion_info > p{
        font-size: 1.2em;
    }
    
    .navegacion_imagenes{
        width: 55%;
    }
    
    .navegacion_imagenes > img:nth-of-type(1) {
        width: 50%;
        padding-top: 40px;
        left: 65px;
    }
    
    .navegacion_imagenes > img:nth-of-type(2) {
        width: 110%;
        padding-top: 20px;
        left: -20px;
    }
    
    .compra{
        display: flex;
        width: 90vw;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .compra_info{
        width: 55%;
        padding: 40px;
    }
    
    .compra_info > h3{
        font-size: 2.4em;
        padding-bottom: 20px;
    }
    
    .compra_info > p{
        font-size: 1.4em;
        font-weight: 300;
    }
    
    .compra_imagenes{
        width: 45%;
    }
    
    .footer_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 20px;
        padding: 20px 40px 0px 40px;
    }
    
    .footer_sitio > h4{
        font-size: 1.4em;
        letter-spacing: 1.5px;
        padding-bottom: 5px;
    }
    
    .footer_sitio > p{
        font-size: 1em;
        letter-spacing: 1.5px;
        padding-bottom: 20px;
    }
    
    .footer_logo{
        width: 120px;
        height: 100px;
        margin-bottom: 10px;
    }
    
    .footer_descarga img{
        width: 80%;
        box-shadow: 0px 0px 1px 0px #c8c8c8;
    }
    
    .footer_sitio > ul >li {
        padding-right: 40px;
        margin-top: 10px;
    } 
    
    .footer_sitio ul li a{
        font-size: 2em;
    }
    
    .footer_reservado > p{
        font-size: 1em;
    }
}

@media screen and (min-width: 1025px) {
    header{
        width: 100vw;
        height: 125px;
        display: flex;
        align-items: center;
    }
    
    .logo{
        width: 125px;
        height: 125px;
        margin-left: 30px;
    }
    
    .portada{
        width: 90vw;
        display: flex;
    }
    
    .portada_intro{
        width: 45vw;
    }
    
    .portada_intro > h2{
        font-size: 2.8em;
    }
    
    .portada_intro > p{
        font-size: 1.8em;
        padding-bottom: 20px;
    }

    .portada_intro > button{
        padding: 20px 28px;
        border-radius: 14px;
        font-size: 1.2em;
    }
    
    .portada_imagen{
        width: 55vw;
    }
    
    .portada_imagen > img{
        width: 100%;
    }
    
    .navegacion{
        display: flex;
        flex-direction: row-reverse;
        width: 90vw;
        margin-top: 50px;
    }
    
    .navegacion_info{
        width: 50%;
        height: 50%;
        padding: 30px;
    }
    
    .navegacion_info > h3{
        font-size: 2.2em;
        padding-bottom: 20px;
    }
    
    .navegacion_info > p{
        font-size: 1.2em;
    }
    
    .navegacion_imagenes{
        width: 55%;
    }
    
    .navegacion_imagenes > img:nth-of-type(1) {
        width: 45%;
        padding-top: 40px;
        left: 65px;
    }
    
    .navegacion_imagenes > img:nth-of-type(2) {
        width: 95%;
        padding-top: 20px;
        left: -20px;
    }
    
    .compra{
        display: flex;
        width: 90vw;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .compra_info{
        width: 60%;
        padding: 40px;
    }
    
    .compra_info > h3{
        font-size: 3em;
        padding-bottom: 20px;
    }
    
    .compra_info > p{
        font-size: 1.6em;
        font-weight: 300;
    }
    
    .compra_imagenes{
        width: 40%;
    }
    
    .footer_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 20px;
        padding: 20px 40px 0px 40px;
    }
    
    .footer_sitio > h4{
        font-size: 1.4em;
        letter-spacing: 1.5px;
        padding-bottom: 5px;
    }
    
    .footer_sitio > p{
        font-size: 1em;
        letter-spacing: 1.5px;
        padding-bottom: 20px;
    }
    
    .footer_logo{
        width: 120px;
        height: 100px;
        margin-bottom: 10px;
    }
    
    .footer_descarga img{
        width: 70%;
        box-shadow: 0px 0px 1px 0px #c8c8c8;
    }
    
    .footer_sitio > ul >li {
        padding-right: 40px;
        margin-top: 10px;
    } 
    
    .footer_sitio ul li a{
        font-size: 2em;
    }
    
    .footer_reservado > p{
        font-size: 1em;
    }

}